.registraionForm__Wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration__content {
  width: 100%;
  min-height: 100vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input__wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
.input__wrapper__radio {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
.input__radio__Wrapper {
  width: 50%;
  display: flex;
  margin-top: 9px;
}

.input__gender {
  display: flex;
  flex-direction: column;
}

/* checkbox */
.input__wrapper__Checkbox {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 12px;
}
.input__checkbox {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.input__course__method {
  display: flex;
}
.registraion__inputfield {
  margin-top: 20px;
  margin-bottom: 100px;
  background-color: lightgray;
  padding-top: 58px;
  border-radius: 20px;
}

.button__style__wrapper {
  display: flex;
  justify-content: center;
}
.button__style {
  width: 50%;
}

.label__style {
  width: 20%;
}

.css-b62m3t-container {
  width: 50%;
}
